body {
  background-color: rgb(4, 4, 27);
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid rgba(128, 128, 128, 0.445);
  margin-bottom: 100px;
  position: relative;
}

nav .first {
  display: flex;
  align-items: center;
  width: 75%;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 30%;
  font-size: 20px;
}
nav ul li {
  list-style: none;
  transition: 0.3s;
  background-color: transparent;
  border-radius: 5px;
  padding: 0.2em 0.5em;
  /* padding-bottom: 100px; */
}

nav ul li:hover {
  background-color: rgba(202, 200, 200, 0.705);
  /* font-size: 0.9em; */
}
a {
  text-decoration: none;
  color: white;
}

nav .second {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .second span {
  font-size: 20px;
  background-color: transparent;
  border-radius: 5px;
  padding: 0.2em 0.5em;
  transition: 0.3s;
}

nav .second span:first-child:hover {
  background-color: rgba(173, 173, 173, 0.705);
  /* font-size: 1.1em; */
}

#showAdminFormBtn {
  width: 120px;
  height: 35px;
  margin-left: 1em;
  border-radius: 10px;
  background-color: rgb(255, 153, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  color: white;
  border: none;
  font-size: 1.1em;
}
#showAdminFormBtn:hover {
  font-size: 1em;
}

.second .login {
  width: 120px;
  height: 35px;
  margin-left: 1em;
  border-radius: 10px;
  background-color: rgb(255, 153, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  font-size: 1.1em;
}

.second .login:hover {
  font-size: 1em;
}

header {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

header h2 {
  color: white;
  font-weight: 400;
  font-size: 22px;
}

header div {
  display: flex;
  width: 45%;
  justify-content: space-between;
}

.search {
  display: flex;
  justify-content: flex-end;
}
.search input {
  width: 60%;
  border-radius: 5px;
  padding: 0.2em 0.5em;
  font-size: 18px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.cardsContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  /* height: 280px; */
  /* background-color: rgb(1, 11, 23); */
  border-radius: 15px;
  text-align: center;
  margin: 20px;
  color: rgb(25, 24, 24);
}

.card img {
  border-radius: 10px;
  margin: 0 auto;
  width: 100%;
}

.card p {
  margin: 5px;
  margin-left: 15px;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  color: rgba(150, 230, 186, 0.801);
  text-align: start;
}

.card h4 {
  margin-left: 30px;
  margin: 10px;
  font-size: 22px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: start;
  color: aliceblue;
}

.card button {
  width: 150px;
  padding: 5px;
  border: none;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgb(255, 145, 0);
  color: #fff;
}
/* !start each card style */

/* !end each card style */

.first div {
  display: flex;
  align-items: center;
  color: white;
}

.filter {
  width: 35%;
}
.filter button {
  color: white;
  background-color: transparent;
  border: transparent;
  border-radius: 5px;
  /* padding: em 0.5em; */
  transition: 0.3s;
  font-size: 16px;
}

.filter button:hover {
  background-color: rgba(173, 173, 173, 0.705);
}

.hoverFilter {
  background-color: rgba(0, 0, 0, 0.705);
  color: white;
}

/* ! admin */
.admin-container {
  position: relative;
}

.admin_wrap {
  /* height: 70px; */
  max-width: 251px;
  /* width: 100%; */
  position: fixed;
  right: 75px;
  top: 75px;
  z-index: 55;
}

.admin_wrap form {
  background-color: rgb(74, 121, 190);
  padding: 2em;
  border-radius: 10px;
}

.adminFormShow {
  display: none;
}

#adminExitBtn {
  display: none;
}
#adminInp {
  border: none;
  text-align: center;
  border-radius: 5px;
}
#adminBtn {
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  width: 100px;
  height: 20px;
}
#adminBtn:hover {
  background-color: green;
  color: #fff;
}
/* ! details */

#detailsModal {
  display: none;
  width: 1000px;
  height: 700px;
  max-width: 70%;
  margin: 25px auto;
  border: 1px solid #998e78;
  position: absolute;
  top: 10%;
  left: 15%;
  background-color: #fff;
}

#modalLeft {
  width: 50%;
  height: 100%;
}

#modal-r {
  margin-top: 20px;
}

#modalRight {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding-left: 64px;
  padding-right: 60px;
  margin-top: 30px;
}

#modalRight h2 {
  font-size: 55px;
  margin: 0px;
}

#modalRight h3 {
  font-weight: 500;
  font-size: 40px;
  color: #998e78;
  margin: 15px 0;
}

#modalRight p {
  margin-bottom: 80px;
  font-size: 20px;
}

/* !START adding new card */
#mainForm {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.allInputs {
  padding: 20px 10px;
  text-align: center;
  width: 100%;
}

/* !END adding new card */
/*! Edit modal start */
.editModal {
  position: fixed;
  /* z-index: 6; */
  max-width: 400px;
  width: 100%;
  height: 50vh;
  display: none;
  background-color: rgba(255, 145, 0, 0.966);
  border: 2px solid white;
  /* position: absolute; */
  left: 35%;
  top: 20%;
  border-radius: 10px;
  text-align: center;
}
.formEdit h2 {
  color: rgb(4, 4, 90);
}
.formEdit {
  display: flex;
  flex-direction: column;
  width: 90%;
  /* justify-content: center; */
  align-items: center;
  margin: auto;
}
.formEdit button {
  width: 150px;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: rgb(4, 4, 90);
  color: #fff;
}
.formEdit button:hover {
  background-color: white;
  color: rgb(4, 4, 90);
  border: 2px solid rgb(4, 4, 90);
  transition: 0.3s;
}
.inputs {
  border: none;
  padding: 5px;
  border-radius: 10px;
  margin-bottom: 15px;
  text-align: center;
}
/* ! edit modal end */
